/* body {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: bisque;
    text-align: center;
    font-size: 20px;
} */

body, html {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://wallpapers.com/images/hd/aesthetic-landscape-animal-crossing-hd-xx4gl44cuw3ppkmm.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%
  }

h1 {
    margin: auto;
    text-align: center;
}